<%- include('s-top') %>
    <div class="main-parent">
        <div class="main-container">

            <svg onclick="window.location.href='/gallery/'" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                    d="m251.33-204.67-46.66-46.66L433.33-480 204.67-708.67l46.66-46.66L480-526.67l228.67-228.66 46.66 46.66L526.67-480l228.66 228.67-46.66 46.66L480-433.33 251.33-204.67Z" />
            </svg>

            <svg onclick="move('left')" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M560-280 360-480l200-200v400Z" />
            </svg>
            <img class="main" src='/img/gallery/<%= wedding %>/<%= wedding %> Alyasa Village (1).avif'
                alt='<%= wedding %> photo Alyasa Village Lebanon'>

            <svg onclick="move('right')" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M400-280v-400l200 200-200 200Z" />
            </svg>
        </div>

        <div class="items">
            <% for (let i=1; i <=40; i++) { %>
                <img src='/img/gallery/<%= wedding %>/<%= wedding %> Alyasa Village (<%= i %>).avif'
                    alt='<%= wedding %> photo Alyasa Village Lebanon' <% if(i===1){ %> class="active"<% } %>>
                    <% } %>
        </div>
    </div>

    <script src="/script/single-gallery.js"></script>

    <%- include('s-bottom') %>