<%- include('s-top') %>
    <style>
        .map {
            background-image: url(/img/map.png);
            aspect-ratio: 7 / 5;
            width: 1000px;
            background-size: contain;
            border: 1px solid black;
            background-position: center;
            position: relative;
            position: relative;
        }

        .map div {
            width: 20px;
            height: 20px;
            background-color: royalblue;
            border: 2px solid #ffedb1;
            border-radius: 50px;
            position: absolute;
            cursor: pointer;
        }

        .map div a {
            position: absolute;
            display: none;
            background-color: antiquewhite;
            margin-left: 20px;
            padding: 5px 10px;
            border-radius: 5px;

        }

        .map div:hover a {
            display: block;
        }
    </style>

    <div class="map">
        <% for(let m of mapData) { %>
            <div style="left: <%= m.left %>%; top: <%= m.top %>%;">
                <a target="_blank" href="<%= m.url %>">
                    <%= m.name %>
                </a>
            </div>
            <% } %>
    </div>