<%- include('partials/s-top') %>
    <div
        style="background-image: url(/img/banners/accommodation.avif); min-height: 45vh; background-size: cover; background-position: center;">
        <%- include('partials/header') %>
    </div>
    <h1 id="title">
        <%= intro.name %>
    </h1>
    <p id="description">
        <%= intro.description %>
    </p>
    <div class="accomodations">
        <% for (let accomodation of accomodations) { %>
            <a href="/accommodations/<%= accomodation.code %>" title="<%= accomodation.name %>"
                description="<%= accomodation.description %>"
                style="background-image: url('/img/<%= accomodation.code %>/1.avif');" id="r<%= accomodation.id %>">
                <%= accomodation.name %>
            </a>
            <% } %>
    </div>
    <a title="<%= intro.name %>" description="<%= intro.description %>" href="/accommodations" id="show-all">ALL</a>
    <div class="rooms">
        <%for (let room of rooms) { %>
            <a acc="r<%= room.accomodationId %>" href="/accommodations/<%= room.Accomodation.code %>/<%= room.code %>">
                <div class="room-img" style="background-image: url('/img/rooms/<%= room.code %>/<%= room.code %> room Alyasa Village (1).avif');">
                    <!--span>info info</span-->
                    <!--View Details -->
                </div>
                <strong>
                    <%= room.name %>
                </strong>
                <br>
                <p>View Details</p>
                <!--p>$100/night</p-->
            </a>
            <% } %>
    </div>

    <script src="/script/acommodations.js"></script>


    <%- include('partials/footer') %>
        <%- include('partials/s-bottom') %>