<%- include('partials/s-top') %>
    <% const arrow=`<svg style="background: #da5f65; border-radius: 50%; padding: 2px;"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="20" fill="#FFFFFF">
        <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" /></svg>`; %>
        <div
            style="background-image: url(/img/banners/activities.avif); min-height: 100vh; background-size: cover; background-position: center;">
            <%- include('partials/header') %>
        </div>
        <div class="slider-container">
            <div class="slider">
                <div class="section-info">
                    <span>text info</span>
                    <h2>Sports & Recreation</h2>
                    <p>kafkdjhfkjhksjhdfkjh</p>
                    <strong>sfhskdfhksjhfkdjfh</strong>
                </div>
                <% const colors=[ '#ea6060' , '#fbc548' , '#54bfbe' , '#5d9cec' , '#a768d5' , '#4ec27f' , '#f2855e'
                    , '#d98cb3' , '#7e7e7e' , '#b5cc4a' ]; %>
                    <% for (let i=0; i < sport.length; i++) { %>
                        <div class="section-item" style="background-image: url('/img/blog/<%= sport[i].thumbnail %>');">
                            <!-- eslint-disable-next-line -->
                            <div style="background-color: <%= colors[i % colors.length] %>;">
                                <h3>
                                    <%= sport[i].title %>
                                </h3>
                                <p>
                                    <%= sport[i].meta_description%>
                                </p>
                            </div>
                        </div>
                        <% } %>
            </div>
        </div>
        <input type="radio" id="tab1" name="tab">
        <input type="radio" id="tab2" name="tab">
        <input type="radio" id="tab3" name="tab">
        <input type="radio" id="return" name="tab">

        <div class="cards">
            <div class="card1">
                <div class="section-info">
                    <span>text info</span>
                    <h2>Wellness & Relaxation</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. </p>
                    <strong>sfhskdfhksjhfkdjfh</strong>
                </div>
            </div>
            <div class="card2"></div>
            <div class="card3">
                <label for="return" style="display: contents;">
                    <svg id="return-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                    </svg>
                </label>
                <strong style="color: #da5f65;">Our Offerings</strong>
                <br>
                <label for="tab1">Massage <%- arrow %></label>
                <label for="tab2">Sauna / Steam
                    Room <%- arrow %>
                </label>
                <label for="tab3">Jacuzzi <%- arrow %></label>
            </div>
            <div class="card4" id="massage">
                <span>text info</span>
                <h2>Massage</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. </p>
                <strong>sfhskdfhksjhfkdjfh</strong>
            </div>
            <div class="card4" id="sauna">
                <span>text info</span>
                <h2>Sauna / Steam Room</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. </p>
                <strong>sfhskdfhksjhfkdjfh</strong>
            </div>
            <div class="card4" id="jacuzzi">
                <span>text info</span>
                <h2>Jacuzzi</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. </p>
                <strong>sfhskdfhksjhfkdjfh</strong>
            </div>
        </div>
        <div class="section-info" style="margin: 0 auto; text-align: center; display: flex; align-items: center;">
            <span>text info</span>
            <h2 style="white-space: nowrap;">Touring and Hiking</h2>
            <p>kafkdjhfkjhksjhdfkjh</p>
        </div>
        <div class="slider-container">
            <div class="slider">
                <% touring.forEach(item=> { %>
                    <div class="section-item"
                        style="background-image: url('/img/blog/<%= item.thumbnail %>'); width: 360px;">
                        <div
                            style="background-color: white; min-height: 90px; height: 90px; display: flex; align-items: center; justify-content: center;">
                            <strong>
                                <%= item.title %>
                            </strong>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
        <div class="slider-container" style="background-color: #f3d4d0; margin: 30px; border-radius: 20px;">
            <div class="slider">
                <div class="section-info">
                    <span>text info</span>
                    <h2>Nightlife</h2>
                    <p>kafkdjhfkjhksjhdfkjh</p>
                    <strong>sfhskdfhksjhfkdjfh</strong>
                </div>
                <div class="image-container">
                    <% for (let i=0; i < 5; i++) { %>
                        <div class="triple" style="gap: 30px; display: flex; flex-direction: column; height: 100%;">
                            <div style="display: flex; gap: 30px; height: calc( 33.33333333333% - 15px);">
                                <img
                                    src="/img/blog/holder.avif">
                                <img
                                    src="/img/blog/holder.avif">
                            </div>
                            <img style="height: calc( 66.66666666666666666666666% - 15px);"
                                src="/img/blog/holder.avif">
                        </div>
                        <div class="double" style="display: flex; gap: 30px; height: 100%; flex-direction: column;">
                            <img style="height: calc( 50% - 15px);"
                                src="/img/blog/holder.avif">
                            <img style="height: calc( 50% - 15px);"
                                src="/img/blog/holder.avif">
                        </div>
                        <div class="triple" style="gap: 30px; display: flex; flex-direction: column; height: 100%;">
                            <img style="height: calc( 66.66666666666666666666666% - 15px);"
                                src="/img/blog/holder.avif">
                            <div style="display: flex; gap: 30px; height: calc( 33.33333333333% - 15px);">
                                <img
                                    src="/img/blog/holder.avif">
                                <img
                                    src="/img/blog/holder.avif">
                            </div>
                        </div>
                        <img
                            src="/img/blog/holder.avif">
                        <% } %>
                </div>
            </div>
        </div>
        <div class="slider-container">
            <div class="slider">
                <div class="section-info">
                    <span>text info</span>
                    <h2>Events</h2>
                    <p>kafkdjhfkjhksjhdfkjh</p>
                    <strong>sfhskdfhksjhfkdjfh</strong>
                </div>
                <% for (let i=0; i < 15; i++) { %>
                    <div class="section-item"
                        style="height: 380px; background-image: url(/img/blog/holder.avif);">
                        <div style="background-color: #dedcd6;">
                            <h3>kdjh kjh fsdhjf</h3>
                            kjhkjhkhkfjdhfs
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <script src="/script/activities.js"></script>
        <%- include('partials/footer') %>
            <%- include('partials/s-bottom') %>