<%- include('partials/s-top') %>
    <div style="background: var(--gold);">
        <%- include('partials/header') %>
    </div>
    <section>
        <main>
            <div class="title">
                <h2>Blog</h2>
            </div>
            <div class="content">
                <% blogs.forEach(blog=> { %>
                    <a href="/blog/<%= blog.slug %>" class="single"
                        style="background-image: url('/img/blog/<%= blog.thumbnail %>');">
                        <span>
                            <%= blog.createdAt.getDate().toString().padStart(2, '0' ) %>/<%=
                                    (blog.createdAt.getMonth()+1).toString().padStart(2, '0' ) %>/<%=
                                        blog.createdAt.getFullYear() %>
                        </span>
                        <h4>
                            <%= blog.title %>
                        </h4>
                        <p>
                            <%= blog.meta_description %>...
                        </p>
                    </a>
                    <% }) %>
            </div>
        </main>
        <aside>
            <div class="title">
                <h3>Featured</h3>
            </div>
            <% for (let f of featured) { %>
                <a href="/blog/<%= f.slug %>" class="aside-single">
                    <img src="/img/blog/<%= f.thumbnail %>" alt="<%= f.title %> blog thumbnail Alyasa Village Lebanon">
                    <div>
                        <span>
                            <%= f.createdAt.getDate().toString().padStart(2, '0' ) %>/<%=
                                    (f.createdAt.getMonth()+1).toString().padStart(2, '0' ) %>/<%=
                                        f.createdAt.getFullYear() %>
                        </span>
                        <p>
                            <%= f.title %>
                        </p>
                    </div>
                </a>
                <% } %>
                    <div class="title">
                        <h3>Latest</h3>
                    </div>
                    <% for (let l of latest) { %>
                        <a class="aside-single">
                            <img src="/img/blog/<%= l.thumbnail %>" alt="<%= l.title %> blog thumbnail Alyasa Village Lebanon">
                            <div>
                                <span>
                                    <%= l.createdAt.getDate().toString().padStart(2, '0' ) %>/<%=
                                            (l.createdAt.getMonth()+1).toString().padStart(2, '0' ) %>/<%=
                                                l.createdAt.getFullYear() %>
                                </span>
                                <p>
                                    <%= l.title %>
                                </p>
                            </div>
                        </a>
                        <% } %>
                            <div class="title">
                                <h3>Newsletter</h3>
                            </div>
                            <form class="newsletter" action="/subscribe" method="POST">
                                <label>Subscribe to our newsletter for the latest updates</label>
                                <input type="email" name="email" placeholder="Your email" required>
                                <button type="submit">Subscribe</button>
                            </form>
        </aside>
    </section>
    <%- include('partials/footer') %>
        <%- include('partials/s-bottom') %>