<%- include('partials/s-top') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="hidden-header"
        style="background-image: url(/img/banners/gallery.avif); min-height: 25vh; background-size: cover; background-position: center; transition: all 0.8s ease;">
        <%- include('partials/header') %>
    </div>
    <h3 class="h3">
        Explore some of the beautiful weddings that have been celebrated at Alyasa Village.
    </h3>
    <div class="scroll animating" style="--time:50s">
        <div>
            <% weddings.forEach(wedding=> { %>
                <span class="single 123"
                    style="background-image: url('/img/gallery/<%= wedding %>/<%= wedding %> Alyasa Village (1).avif');">
                    <%= wedding %>
                </span>
                <% }); %>
                    <% weddings.forEach(wedding=> { %>
                        <span class="single 123"
                            style="background-image: url('/img/gallery/<%= wedding %>/<%= wedding %> Alyasa Village (1).avif');">
                            <%= wedding %>
                        </span>
                        <% }); %>
        </div>
        <div>
            <% weddings.forEach(wedding=> { %>
                <span onclick="openGallery('<%= wedding %>')" class="single"
                    style="background-image: url('/img/gallery/<%= wedding %>/<%= wedding %> Alyasa Village (1).avif');">
                    <%= wedding %>
                </span>
                <% }); %>
                    <% weddings.forEach(wedding=> { %>
                        <span onclick="openGallery('<%= wedding %>')" class="single"
                            style="background-image: url('/img/gallery/<%= wedding %>/<%= wedding %> Alyasa Village (1).avif');">
                            <%= wedding %>
                        </span>
                        <% }); %>
        </div>
    </div>

    <script src="/script/gallery.js"></script>

    <%- include('partials/footer') %>
        <%- include('partials/s-bottom') %>