<%- include('partials/s-top') %>
    <link rel="stylesheet" href="/css/activities.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div
        style="background-image: url(/img/banners/activities.avif); background-size: cover; background-position: center;">
        <%- include('partials/header') %>
    </div>

<%- html.html %>



    <%- include('partials/footer') %>
        <%- include('partials/s-bottom') %>