<%- include('partials/s-top') %>
  <link rel="stylesheet" href="/css/venue.css">
  <nav>
    <a href="/"><img src="/img/s-logo.png" class="logo"></a>
    <% for (let v of venues) { %>
      <a href="/<%= v.code %>" class="<%= venue.code === v.code ? 'active' : '' %>">
        <%= v.name %>
      </a>
      <% } %>

        <select name="cars" id="cars" onchange="window.location.href=this.value">
          <% for (let v of venues) { %>
            <option value="/<%= v.code %>" <%=venue.code===v.code ? 'selected' : '' %>>
              <%= v.name %>
            </option>
            <% } %>
        </select>
  </nav>
  <div class="venue">
    <div class="gallery" style="background-image: url('/img/<%= venue.code %>/G1.jpg');">
      <div class="controller">
        <div class="slider">
          <% for (let i=1; i <=3; i++) { %>
            <img src="/img/<%= venue.code %>/G<%= i %>.jpg">
            <% } %>
              <div class="plus-img">+7
                <% for (let i=4; i <=10; i++) { %>
                  <img src="/img/<%= venue.code %>/G<%= i %>.jpg">
                  <% } %>
              </div>
        </div>
        <svg onclick="moveGallery(-1)" viewBox="0 0 100 60">
          <path d="M25 30 L70 30 M70 30 L55 15 M70 30 L55 45" />
        </svg>
        <svg onclick="moveGallery(1)" viewBox="0 0 100 60">
          <path d="M25 30 L70 30 M70 30 L55 15 M70 30 L55 45" />
        </svg>
      </div>
      <h3>
        <%= venue.name %>
      </h3>
      <p>
        <%= venue.description %>
      </p>
    </div>
    <div class="numbers">
      <div class="label">Capacity</div>
      <div class="data">
        <%= venue.capacity %>
      </div>
      <div class="label">Surface</div>
      <div class="data">
        <%= venue.surface %> sqm
      </div>
    </div>
    <div class="features">
      <% for (let feature of venue.features) { %>
        <span>
          <%= feature %>
        </span>
        <% } %>
    </div>
    <div class="events">
      <% for (let event of venue.events) { %>
        <span>
          <%= event %>
        </span>
        <% } %>
    </div>
    <div class="map">
      <div style="background-position: <%= maps.left %>% <%= maps.top %>%;">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#EA3323">
          <path
            d="M480-470q38 0 64-26t26-64q0-38-26-64t-64-26q-38 0-64 26t-26 64q0 38 26 64t64 26Zm0 257q115-104 171.5-183T708-556q0-101.97-66.04-166.98-66.03-65.02-162-65.02Q384-788 318-722.98 252-657.97 252-556q0 81 56.5 159.5T480-213Zm0 167Q303-193 214.5-313T126-556q0-163.72 106.75-260.86Q339.51-914 480-914t247.25 97.14Q834-719.72 834-556q0 123-88.5 243T480-46Zm0-514Z" />
        </svg>
      </div>
    </div>
  </div>

  <script src="/script/venue.js"></script>

  <%- include('partials/s-bottom') %>